#MetaData{
    display: flex;
    flex-direction: column;
    grid-row: 7/9;
    grid-column: 7/11;
  }
  
#MetaData textarea{
    height: 100%;
    flex: 1;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f5f4f1, #dedede);
    resize: none;
    padding: 3% 3% 3% 3%;
    font-family: sans-serif;
    color: #2f6e84;
    font-size: large;
  }
  
#MetaData textarea:focus{
    outline: none;
  }